<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Question: {{session['state']}}</p>
    <form action="/process_answer" method="post">
        {% for answer,next_state in rules[session['state']] %}
        <input type="radio" name="answer" value="{{next_state.value}}">{{answer.value}}
        {% endfor %}
        <button>submit</button>
    </form>
</body>
</html>